name: CI Development

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: prod
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      - run: npm test
      - name: Create Manual Approval Issue
        id: manual
        uses: toppulous/create-manual-approval-issue@v1
        with:
          label: dev-approval
